{% extends "base.html" %}
{% block title %}Login - BigData Project{% endblock %}
{% block content %}
                            Iniciar Sesión
                            Accede al panel de administración
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                                Usuario
                                Contraseña
                                Ingresar
                                Volver al inicio
{% endblock %}